DJANGO_SECRET_KEY=change-this-before-deploying
DJANGO_DEBUG=true
POSTGRES_DB=servicemate
POSTGRES_USER=servicemate
POSTGRES_PASSWORD=servicemate
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
WORKFLOW_MAX_RECOVERY_RETRIES=2
APIFY_API_TOKEN=your_apify_token_here